doctype htmp
htmp
    head
        title PepersDev.Co
        link(rel='stylesheet' href="style.css" type='text/css')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')
        link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css')
            

    body
        include nav
        block content
        include footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js")
        script(src="https://js.stripe.com/v3/")
        script(src="/frontend.js")
        
