footer
  #a
    h3
      a.at(href='#') About us
    h3
      a.at(href='#') Blog
    h3
      a.at(href='#') Press
    h3
      a.at(href='#') ios App
    h3
      a.at(href='#') Android App
    #a1
      a.at(href='#')
        i.fab.fa-facebook-square
      a.at(href='#')
        i.fab.fa-twitter-square
      a.at(href='#')
        i.fab.fa-instagram
      a.at(href='#')
        i.fab.fa-snapchat-square
  #b
    | Copyright &copy; 2019 PepersDev.Co . All rights reserved
