extend base

block content
    br
    br
    h2.subheading Your Previous Orders

    if temp_user.prevOrder.length === 0
       h2.orders You Have Not Placed Any Orders Yet
    else
        #middle5
            br
            br
            part
                for plan in temp_user.prevOrder
                    part5
                        part1
                            part8
                                h2 #{plan.name}
                               
                            part9
                                h4.items #{plan.items}
                            hr
                            part3
                                h1(style='color: rgb(8, 187, 8) ') Price :   #{plan.price}
                                p(style='color: rgb(8, 187, 8) ')  INR
    br