extend base

block content
  #login
    br
    br
    #space1
      br
      br
      h1 Change Password Here
      br
      br
      form.change_pass
        .password1
          .entry
            .entry-text
              | Old Password : 
            input(type='password' ,name='old password' placeholder='  Your Old Password' , id = "old password" ,required=true )

        .password1
          .entry
            .entry-text
              | New Password : 
            input(type='password' ,name='new password' placeholder='  Your New Password' , id = "new password" ,required=true )

        .confirm_pass
          .entry
            .entry-text
              | Confirm Password : 
            input(type='password' ,name='confirm_pass' placeholder='  Confirm Your Password' , id = "confirm_pass" ,required=true )

        br
        button(type='submit') Save
    br
    br