extend base

block content
    br
    br
    #middle3
        h2.subheading WE&apos;RE CURRENTLY IN THESE CITIES
        section3
            part1
                img(src='./images/delhi.jpg' alt='')
                h3 Delhi
                br
                part3
                    i.fas.fa-users
                    p 1000+ happy eaters
                part3
                    i.fas.fa-chess-queen
                    p 60+ top chefs
                part3
                    i.fab.fa-twitter
                    p(style='color: rgb(18, 122, 18); ') @pepersdev_delhi
            part1
                img(src='./images/lucknow.jpg' alt='')
                h3 Lucknow
                br
                part3
                    i.fas.fa-users
                    p 3700+ happy eaters
                part3
                    i.fas.fa-chess-queen
                    p 160+ top chefs
                part3
                    i.fab.fa-twitter
                    p(style='color: rgb(18, 122, 18); ') @pepersdev_lucknow
            part1
                img(src='./images/hyderabad.jpg' alt='')
                h3 Hyderabad
                br
                part3
                    i.fas.fa-users
                    p 1600+ happy eaters
                part3
                    i.fas.fa-chess-queen
                    p 110+ top chefs
                part3
                    i.fab.fa-twitter
                    p(style='color: rgb(18, 122, 18); ') @pepersdev_hyderabad
            part1
                img(src='./images/mumbai.jpg' alt='')
                h3 Mumbai
                br
                part3
                    i.fas.fa-users
                    p 1200+ happy eaters
                part3
                    i.fas.fa-chess-queen
                    p 50+ top chefs
                part3
                    i.fab.fa-twitter
                    p(style='color: rgb(18, 122, 18); ') @pepersdev_mumbai
    br
    br
