extend base

block content
    br
    br
    #middle3
        h2.subheading WE&apos;RE CURRENTLY IN THESE CITIES
        section3
            part1
                img(src='./images/lisbon.jpg' alt='')
                h3 LISBON
                br
                part3
                    i.fas.fa-users
                    p 1600+ happy eaters
                part3
                    i.fas.fa-chess-queen
                    p 60+ top chefs
                part3
                    i.fab.fa-twitter
                    p(style='color: rgb(18, 122, 18); ') @pepersdev_lx
            part1
                img(src='./images/san_francisco.jpg' alt='')
                h3 SAN FRANCISCO
                br
                part3
                    i.fas.fa-users
                    p 3700+ happy eaters
                part3
                    i.fas.fa-chess-queen
                    p 160+ top chefs
                part3
                    i.fab.fa-twitter
                    p(style='color: rgb(18, 122, 18); ') @pepersdev_sf
            part1
                img(src='./images/berlin.jpg' alt='')
                h3 BERLIN
                br
                part3
                    i.fas.fa-users
                    p 1600+ happy eaters
                part3
                    i.fas.fa-chess-queen
                    p 110+ top chefs
                part3
                    i.fab.fa-twitter
                    p(style='color: rgb(18, 122, 18); ') @pepersdev_berlin
            part1
                img(src='./images/london.jpg' alt='')
                h3 LONDON
                br
                part3
                    i.fas.fa-users
                    p 1200+ happy eaters
                part3
                    i.fas.fa-chess-queen
                    p 50+ top chefs
                part3
                    i.fab.fa-twitter
                    p(style='color: rgb(18, 122, 18); ') @pepersdev_london
    br
    br
