extend base

block content

    #login
        br
        br
        br
        br
        #space
            br
            h1 Forgot You Password ?

            form.forgot
                .email
                    .entry
                        .entry-text
                            | Email :
                        input(type='email' ,name='email' placeholder='  Your Email' , id = "email" ,required=true)
                br
                button(type='submit' ) Submit
        br
        br
        br
        br