extend base

block content
    header
        h1.heading
            | GOODBYE JUNK FOOD.
            br
            | HELLO SUPER HEALTHY MEALS :)
        a.a1(href='#middle5')  I&apos;m hungry
        a.a2(href='/plans') Show me more 

    include plans
    
    #middle2
        br
        br
        br
        h2.subheading HOW IT WORKS - SIMPLE AS 1, 2, 3
        img.phone(src='./images/Phone.jpg' alt='')
        section2
            block1
              h2 1
              p Choose the subscription plan that best fits your needs and sign up today.
            block1
              h2 2
              p
                | Order your delicious meal using our mobile app or website . Or you can even call us!
            block1
              h2 3
              p Enjoy your meal after less than 20 minutes. See you the next time!
            a(href='#')
             img(src='./images/download-app-android.png' alt='')
            a(href='#')
             img(src='./images/download-app-iphone.png' alt='')


    
    
    