extend base

block content
    br
    br
    br
    br
    #failed
        #payment
            h2.subheading Your Order is Not Placed !!! Pls Try Again Later.
            i.far.fa-times-circle
        #add_order
            button.a1.continue(onClick="window.location.href='/'") Continue