extend base

block content
    br
    br
    br
    br
    #success
        #payment
            h2.subheading Your Order is Placed Successfully.
            i.far.fa-check-circle
        #add_order
            button.a1.continue Continue