extend base

block content
    #middle4
        h2.subheading OUR CUSTOMERS CAN&apos;T LIVE WITHOUT US
        div
            part1
                h1(style='font-size: 5rem')  &quot;
                p
                    | PepersDev is just awesome! I just launched a startup which leaves me with no time for cooking, so
                    | PepersDev
                    | is a life-saver. Now that I got used to it, I couldn&apos;t live without my daily meals!
                br
                divt
                    p By Divyaansh
            part1
                h1(style='font-size: 5rem') &quot;
                p
                    | Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food
                    | delivery
                    | here in Delhi, but no one comes even close to Omnifood. Me and my family are so in love!
                br
                divt
                    p By Harshit
            part1
                h1(style='font-size: 5rem') &quot;
                p
                    | I was looking for a quick and easy food delivery service in Hyderabad. I tried a lot of them and
                    | ended up with PepersDev. Best food delivery service in the my Area. Keep up the great work!
                br
                divt
                    p By Dhruv Kapoor