extend base

block content
    #middle4
        h2.subheading OUR CUSTOMERS CAN&apos;T LIVE WITHOUT US
        div
            part1
                h1(style='font-size: 5rem')  &quot;
                p
                    | PepersDev is just awesome! I just launched a startup which leaves me with no time for cooking, so
                    | PepersDev
                    | is a life-saver. Now that I got used to it, I couldn&apos;t live without my daily meals!
                br
                divt
                    img(src='./images/person1.jpg' alt='')
                    p Joey Tribbiani
            part1
                h1(style='font-size: 5rem') &quot;
                p
                    | Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food
                    | delivery
                    | here in Lisbon, but no one comes even close to Omnifood. Me and my family are so in love!
                br
                divt
                    img(src='./images/person2.jpg' alt='')
                    p Barney Stinson
            part1
                h1(style='font-size: 5rem') &quot;
                p
                    | I was looking for a quick and easy food delivery service in San Francisco. I tried a lot of them and
                    | ended up with PepersDev. Best food delivery service in the Bay Area. Keep up the great work!
                br
                divt
                    img(src='./images/person3.jpg' alt='')
                    p Marshall Eriksen